body {
  margin: 0px;
  padding: 0px;

  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(247, 247, 247);
}

.tox-statusbar {
  display: none !important;
}

.img-crop-media {
  background-image: url("/images/image-editor-bg.png") !important;
}

.rs-picker-menu {
  z-index: 9;
}